div {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #8888;
  width: 600px;
  // height: 400px;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid;
}

th,td {
  min-width: 100px;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}

.neg {
  color: red;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}
